<h1 class="page-title">Find me a(n) <%= @industry.description %>       <%= form_tag(industry_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search " %>
  <%= submit_tag "Search", class: "btn btn-primary btn-lg" %>
  <% end %></h1>

<div class="tabs">
  <a class="tab active" href="#bestworkers">
    <h3><i class="fa fa-heart-o" aria-hidden="true"></i>
</h3>
    <p>Good Shifu</p>
  </a>
  <a class="tab" href="#">
    <h3><i class="fa fa-meh-o" aria-hidden="true"></i></h3>
    <p>Bad Shifu</p>
  </a>
 
</div>

<div id="bestworkers">
<div class="container">
	<div class="row">
		<% @workers.each do |w| %>
<div class="message">
  <div class="message-name">
    <h3>WeChat ID: <%= w.wechat %></h3>
    <h3>Name: <%= w.name %></h3>
    <p>Added: <%= w.created_at.strftime("%A, %b %d") %></p>
  </div>
  <div class="message-body">
    <p><strong>I am not sure yet!</strong></p>
    <p>
      I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?
    </p>
  </div>
  <div class="message-status">
    <p class="status pending"><%= w.location %></p>
    <p class="price"><%= w.rate %>RMB/hour</p>
  </div>
</div>
<% end %>

	</div>
</div>
</div>


